# Creating Pandas Series

In [2]:
import pandas as pd

In [3]:
groceries = pd.Series(data= [10, 6, 'Yes', 'No'], index=['eggs', 'apples', 'milk', 'bread'])
groceries

eggs       10
apples      6
milk      Yes
bread      No
dtype: object

In [4]:
groceries.shape

(4,)

In [5]:
groceries.ndim

1

In [6]:
groceries.size

4

In [8]:
groceries.index

Index(['eggs', 'apples', 'milk', 'bread'], dtype='object')

In [9]:
groceries.values

array([10, 6, 'Yes', 'No'], dtype=object)

In [10]:
'banana' in groceries

False

In [11]:
'bread' in groceries

True

# Accessing and Deleting Elements in Pandas Series

In [13]:
groceries

eggs       10
apples      6
milk      Yes
bread      No
dtype: object

In [15]:
groceries['eggs']

10

In [16]:
groceries[['milk', 'bread']]

milk     Yes
bread     No
dtype: object

In [17]:
groceries[0]

10

In [18]:
groceries[-1]

'No'

In [20]:
groceries[[0, 1]]

eggs      10
apples     6
dtype: object

In [21]:
groceries.loc[['eggs', 'apples']]

eggs      10
apples     6
dtype: object

In [22]:
groceries.iloc[[2, 3]]

milk     Yes
bread     No
dtype: object

In [24]:
groceries['eggs'] = 12
groceries

eggs       12
apples      6
milk      Yes
bread      No
dtype: object

In [26]:
groceries.drop('apples')

eggs      12
milk     Yes
bread     No
dtype: object

In [27]:
groceries

eggs       12
apples      6
milk      Yes
bread      No
dtype: object

In [28]:
groceries.drop('apples', inplace=True)

In [29]:
groceries

eggs      12
milk     Yes
bread     No
dtype: object

# Arithmetic Operations on Pandas Series

In [31]:
fruits = pd.Series(data=[10, 6, 3], index=['apples', 'oranges','bananas'])
fruits

apples     10
oranges     6
bananas     3
dtype: int64

In [32]:
fruits + 2

apples     12
oranges     8
bananas     5
dtype: int64

In [33]:
fruits - 2

apples     8
oranges    4
bananas    1
dtype: int64

In [34]:
fruits * 2

apples     20
oranges    12
bananas     6
dtype: int64

In [35]:
fruits / 2

apples     5.0
oranges    3.0
bananas    1.5
dtype: float64

In [36]:
import numpy as np

fruits

apples     10
oranges     6
bananas     3
dtype: int64

In [37]:
np.sqrt(fruits)

apples     3.162278
oranges    2.449490
bananas    1.732051
dtype: float64

In [38]:
np.exp(fruits)

apples     22026.465795
oranges      403.428793
bananas       20.085537
dtype: float64

In [39]:
np.power(fruits, 2)

apples     100
oranges     36
bananas      9
dtype: int64

In [40]:
fruits['bananas'] + 2

5

In [41]:
fruits.iloc[0] - 2

8

In [42]:
fruits[['apples', 'oranges']] * 2

apples     20
oranges    12
dtype: int64

In [43]:
fruits[[0, 1]] / 2

apples     5.0
oranges    3.0
dtype: float64

In [45]:
groceries

eggs      12
milk     Yes
bread     No
dtype: object

In [46]:
groceries * 2

eggs         24
milk     YesYes
bread      NoNo
dtype: object

In [49]:
try:
    groceries / 2
except TypeError:
    print("unsupported operand type(s) for /: 'str' and 'int'")
    print("Operator on pd series MUST work for ALL data types in the series")

unsupported operand type(s) for /: 'str' and 'int'
Operator on pd series MUST work for ALL data types in the series

# Manipulate a Series

In [52]:
import pandas as pd

# Create a Pandas Series that contains the distance of some planets from the Sun.
# Use the name of the planets as the index to your Pandas Series, and the distance
# from the Sun as your data. The distance from the Sun is in units of 10^6 km

distance_from_sun = [149.6, 1433.5, 227.9, 108.2, 778.6]

planets = ['Earth','Saturn', 'Mars','Venus', 'Jupiter']

# Create a Pandas Series using the above data, with the name of the planets as
# the index and the distance from the Sun as your data.
dist_planets = pd.Series(data=distance_from_sun, index=planets)

# Calculate the number of minutes it takes sunlight to reach each planet. You can
# do this by dividing the distance from the Sun for each planet by the speed of light.
# Since in the data above the distance from the Sun is in units of 10^6 km, you can
# use a value for the speed of light of c = 18, since light travels 18 x 10^6 km/minute.
time_light = dist_planets / 18

# Use Boolean indexing to select only those planets for which sunlight takes less
# than 40 minutes to reach them.
close_planets = time_light[time_light < 40]
print(close_planets)

Earth     8.311111
Mars     12.661111
Venus     6.011111
dtype: float64

# Creating Pandas DataFrames

In [4]:
items = {"Bob": pd.Series([246, 25, 55], index=["bike", "pants", "watch"]),
         "Alice": pd.Series([40, 110, 500, 45], index=["book", "glasses", "bike", "pants"])}
type(items)

dict

In [5]:
shopping_carts = pd.DataFrame(items)
shopping_carts

           Bob  Alice
bike     246.0  500.0
book       NaN   40.0
glasses    NaN  110.0
pants     25.0   45.0
watch     55.0    NaN

In [6]:
no_labels = {'Bob': pd.Series([245, 25, 55]),
            'Alice': pd.Series([40, 110, 500, 45])}

df = pd.DataFrame(no_labels)
df

     Bob  Alice
0  245.0     40
1   25.0    110
2   55.0    500
3    NaN     45

In [9]:
shopping_carts.columns

Index(['Bob', 'Alice'], dtype='object')